allure-pytest==2.5.1
allure-python-commons==2.5.1
jsonreader==0.0.1
jsonschema==2.6.0
pytest==5.4.0
pytest-concurrent==0.1.2
pytest-forked==0.2
pytest-html==1.19.0
pytest-metadata==1.7.0
pytest-parallel==0.0.3
pytest-reportportal==1.0.4
pytest-rerunfailures==4.1
pytest-xdist==1.23.0
python-dateutil==2.7.3
requests==2.20.0
selenium==3.14.0
webium==1.2.1
